/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Banner
4. About 
5. Features
6. FAQs 
7. Footer
-------------------- */



/* 1 General */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Background Color */
    --bg-black: #090b3c;
    --bg-white: #fff;
    --bg-light-white: #fcfcfc;
    --bg-light-2: #f2f7fa;
    --bg-dark-green: #0b3578;
    --bg-features-1: #fff6d6;
    --bg-features-2: #ebdcf9;
    --bg-features-3: #ddf5fc;
    --bg-features-4: #dcf6e8;
    --bg-features-5: #f8e4e1;
    --bg-features-6: #fbffd4;

    /* Text Color */
    --text-black: #000;
    --text-white: #fff;
    --text-dark-gray: #4c535d;
    --text-light-2: #798089;
    --text-light-3: #5e5e72;
    --text-light-4: #A0A0A0;
    --text-dark-green: #0b3578;
    --text-orange: #ff5d2a;
    --text-yellow: #ffc100;

    /* Fonts */
    --primary-font: Quicksand;
    --secondary-font: 'Sora', 'sans-serif';
    --normal-font-weight: 400;
    --bold-font-weight: 600;
}

* {
    font-family: 'Sora', 'sans-serif';
}

body {
    font-family: var(--secondary-font);
    font-weight: var(--normal-font-weight);
    background-color: var(--bg-white);
}

/* Custom CSS */
.learn-more-btn {
    background-color: var(--bg-dark-green);
    font-size: 18px;
    font-weight: 600;
    font-family: var(--secondary-font);
    letter-spacing: 1px;
    width: auto;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border-left: 3px solid #fff;
    /* box-shadow: 0 10px 20px rgb(0 0 0 / 10%);  */
    box-shadow: inset 0 0 0 0 var(--text-black) !important;
    transition: ease-out 0.3s;
    display: inline-block;
    text-decoration: none;
    z-index: 999;
    transition: 0.2s;
}

.learn-more-btn:hover {
    box-shadow: inset 162px 0 0 0 var(--text-black) !important;
    cursor: pointer !important;
    color: #fff !important;
    border-right: 5px solid var(--bg-dark-green);
}

.btn-extra-header {
    color: var(--text-dark-gray) !important;
    background-color: transparent;
    border: 2px solid var(--text-dark-gray);
}

.navbar {
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    font-family: var(--secondary-font);

}

.head {
    font-size: 40px !important;
    font-weight: 600 !important;
}

.logo {
    width: auto;
    height: auto;
}

.navbar .nav-link {
    font-size: 15px;
    font-weight: 500;
    margin-right: 15px;
    font-family: var(--secondary-font);
}

.navbar .nav-link.active {
    color: var(--primary) !important;
}

.btn {
    background-color: var(--bg-black);
    font-size: 18px;
    font-weight: 600;
    color: var(--text-white) !important;
    padding: 12px 29px !important;
    border-radius: 10px;
    border: 2px solid var(--bg-black);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    display: inline-block;
    text-decoration: none;
    transition: 0.7s;
}



/* 2 Navbar */
.header_wrapper .navbar {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.header_wrapper .navbar-brand img {
    max-width: 210px;
    height: auto;
}

.header_wrapper .menu-navbar-nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

.header_wrapper .nav-item {
    margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-weight: 600;
    font-size: 18px;
    color: var(--text-dark-gray);
    line-height: 1;
}

.header_wrapper .nav-item .nav-link.active {
    color: var(--text-dark-green);
}




.header-scrolled {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
    box-shadow: 0 4px 6px 0 rgba(12, 0, 46, .05);
}

.header-scrolled .navbar-brand img {
    width: 190px;
    height: auto;
    animation: animated 0.1s ease-in-out;
}

@keyframes animated {
    0% {
        width: 210px;
    }

    50% {
        width: 200px;
    }

    100% {
        width: 190px;
    }
}

.header-scrolled .nav-item .nav-link {
    font-size: 17px;
}

/* 3 Banner */
.banner_wrapper {
    display: flex;
    width: 100%;
    padding: 42px 0 125px;
    background: url(../images/compress.png) no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;

}




.banner_wrapper .banner-subtitle {
    font-size: 19px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 15px;
    color: var(--text-light-3);
}

.banner_wrapper .banner-title {
    font-family: var(--secondary-font);
    font-weight: 800 !important;
    font-size: 58px;
    text-transform: capitalize;
    line-height: 1.15;
    margin-bottom: 25px;
    color: var(--bg-dark-green);
}

.banner_wrapper .banner-title span {
    color: var(--text-light-4);
}

.banner_wrapper .banner-title-text {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 40px;
    max-width: 450px;
    color: var(--text-light-2);
}

.banner_wrapper .learn-more-btn-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.banner_wrapper .header-img-section img {
    width: 100%;

}

.expertise {

    /* padding: 20px 10px; */
    /* background-color: var(--bg-light-white); */
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.expertise .det {

    padding: 40px 24px !important;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-white);
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    border-right: 8px solid #0b3578;
}

.et-1 {
    text-align: center;
}

.et-1 .title {
    color: var(--bg-dark-green);
    font-weight: 500;
    font-size: 18px;
}

.et-1 .features_text {
    color: var(--text-light-3);
    font-weight: 400;
    font-size: 13px;
}


.iconbox {
    /* width: 54px; */
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--primary); */
    color: var(--white);
    font-size: 41px;
    border-radius: 100px;
    flex: none;
}

/* 5 About */
.about_wrapper {
    padding: 100px 0 0;
}

.about_title span {
    color: var(--bg-dark-green);
}

.about_wrapper .about_number {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 24px;
    padding: 4px 17px;
    border-radius: 10px;
    margin-bottom: 25px;
    max-width: 44px;
    color: var(--text-white);
    background-color: var(--bg-dark-green);
}

.about_wrapper .features_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.about_wrapper .features_title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--bg-dark-green);
}

.about_wrapper .about_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    max-width: 1000px;
    margin-bottom: 25px;
    color: var(--text-black);
}

.about_wrapper .about_text {
    font-size: 15px;
    font-weight: 600;
    line-height: 1.7;

    color: var(--text-light-2);
}

.about_wrapper .innovate {
    background: var(--bg-light-2);
    padding: 80px 0;
}

.about_wrapper .projects {
    padding: 30px 0;
    background: var(--bg-dark-green);
}

.about_wrapper .projects h2 {
    color: rgb(224, 224, 224);
    font-family: Poppins;
    font-weight: 800;
    font-size: 50px;
    line-height: 1.5;
    margin-bottom: 0;
}

.about_wrapper .projects p {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--bg-white);
}

/* 6 Features */
.features_wrapper {
    padding: 100px 0 80px;
    background: var(--bg-light-white);
    margin-top: 30px;

}

.features_wrapper .features_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.features_wrapper .features_title {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--bg-dark-green);
}

.features_wrapper h3 {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: var(--bold-font-weight);
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--text-black);
}

.features_wrapper .features_text {
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
    line-height: 1.5;
    color: var(--text-light-2);
}

.features_wrapper .ft-1 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;

    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;

}

.features_wrapper .ft-1:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);

}

.features_wrapper .ft-2:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);


}

.features_wrapper .ft-3:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);

}

.features_wrapper .ft-4:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);

}

.features_wrapper .ft-5:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);

}

.features_wrapper .ft-6:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid var(--bg-dark-green);

}

.features_wrapper .ft-7:hover {
    transform: translateY(-5px);
    transition: all 0.3s;
    cursor: pointer;
    border-right: 10px solid orange;

}


.features_wrapper .ft-1:before {
    /* content: url(../images/consultancy.png); */
    position: relative;
    display: block;

    margin-top: -20px;
}

.features_wrapper .ft-2 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;
    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.features_wrapper .ft-2:before {
    /* content: url(../images/solutions.png); */
    position: relative;
    display: block;
    margin-top: -20px;
}

.features_wrapper .ft-3 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;
    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.features_wrapper .ft-3:before {
    /* content: url(../images/simple.png); */
    position: relative;
    display: block;
    margin-top: -20px;
}

.features_wrapper .ft-4 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;
    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.features_wrapper .ft-4:before {
    /* content: url(../images/deadline.png); */
    position: relative;
    display: block;
    margin-top: -20px;
}

.features_wrapper .ft-5 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;
    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.features_wrapper .ft-5:before {
    /* content: url(../images/data.png); */
    position: relative;
    display: block;
    margin-top: -20px;
}

.features_wrapper .ft-6 {
    background: var(--bg-white);
    padding: 0px;
    border-radius: 15px;
    display: flex;
    width: 620px;
    height: 270px;
    border-right: 5px solid var(--bg-dark-green);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
    align-content: center;
    justify-content: center;
    align-items: center;
}

.features_wrapper .ft-6:before {
    /* content: url(../images/flexible.png); */
    position: relative;
    display: block;
    margin-top: -20px;
}

.fea-img {
    width: 200px;
    /* height: 250px; */
    margin-right: 10px;

    display: flex;
    margin-top: 47px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.content {
    padding: 0px 25px;
    border-left: 1px solid rgb(206, 206, 206);
}

.tet {
    padding: 4px 30px 4px 10px;
    width: auto;
    background-color: #0b3578e1;
    color: #fff !important;
    border-radius: 0px 20px 20px 0px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    z-index: 999;
    font-size: 17px !important;
}




/* 10 FAQs */
.faq_wrapper {
    padding: 100px 0 0;
}

.faq_wrapper .faq_subtitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 5px;
    color: var(--text-light-3);
}

.faq_wrapper .faq_title {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 34px;
    line-height: 1.25;
    margin-bottom: 25px;
    color: var(--bg-dark-green);
}

.faq_wrapper .accordion-button:hover,
.faq_wrapper .accordion-button:focus {
    box-shadow: none;
    color: var(--text-dark-green);
}

.faq_wrapper .accordion-item {
    border: 0;
}

.faq_wrapper .accordion-button {
    font-size: 21px;
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--bg-dark-green);
    background-color: var(--text-white);
    border-radius: 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid var(--text-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.faq_wrapper .accordion-button::after {
    content: '\002B';
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    background-image: none;
}

.faq_wrapper .accordion-button:not(.collapsed)::after {
    content: "\2212";
    font-family: "Font Awesome 5 Free";
    font-weight: 800;
    display: inline-block;
    background-image: none;
    transform: unset;
}

.faq_wrapper .accordion-body {
    color: var(--text-black);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding-bottom: 25px;
    line-height: 1.5;
}





@media (max-width:1300px) {

    /* 2 Navbar */
    .header_wrapper .menu-navbar-nav {
        width: auto;
    }
}

@media (max-width:1230px) {

    /* 2 Navbar */
    .header_wrapper .nav-item {
        margin: 0 5px;
    }

    .header_wrapper .learn-more-btn {
        padding: 12px 10px !important;
    }

    /* 3 Banner */
    .banner_wrapper .banner-title {
        font-size: 50px;
    }
}

@media (max-width:1070px) {

    /* 2 Navbar */
    .header_wrapper .nav-item .nav-link {
        font-size: 16px;
    }

    /* 5 About */
    .about_wrapper .about_title {
        font-size: 30px;
    }
}

@media (max-width:991px) {

    /* 2 Navbar */
    .header_wrapper .navbar-brand img {
        width: 180px;
    }

    .header_wrapper .navbar-toggler:focus {
        box-shadow: none;
    }

    .header_wrapper .menu-navbar-nav {
        text-align: center;
    }

    .header_wrapper .nav-item .nav-link {
        margin-top: 15px;
        font-size: 18px;
    }

    .header_wrapper .nav-item:last-child .nav-link {
        margin-bottom: 20px;
    }

    .header_wrapper .learn-more-btn {
        padding: 12px 29px !important;
    }

    .header_wrapper .navbar-collapse {
        background: var(--bg-white);
    }

    /* 3 Banner */
    .banner_wrapper .banner-title {
        font-size: 36px;
    }

    /* 5 About */
    .about_wrapper .about_number {
        margin: 20px auto;
    }

    .about_wrapper .about_title {
        font-size: 24px;
    }
}

@media (max-width: 767px) {

    /* 3 Banner */
    .banner_wrapper {
        padding: 100px 0 100px;
    }

    .banner_wrapper .row {
        flex-direction: column-reverse;
    }

    .banner_wrapper .learn-more-btn-section {
        justify-content: center;
    }

    /* 7 Pricing */
    .free_trial .free_title {
        font-size: 24px;
    }

    /* 10 FAQs */
    .faq_wrapper .accordion-button {
        font-size: 18px;
    }

    /* 11 Footer */
    .footer_wrapper .footer_logo img {
        max-width: 50%;
    }
}


.footer-top {
    padding-top: 70px;
    padding-bottom: 10px;
    background-color: #21252f;
}

.footer-top .logo {
    width: 120px;
}

.footer-top a {
    color: #888;
}

.footer-top a:hover {
    color: #fff;
}

.footer-top i {
    font-size: 20px;
    margin: 10px 0;
    padding: 8px 4px;
    color: var(--white);
    transition: all 0.45s ease;
}

.footer-top .footlogo:hover {
    font-size: 24px;
    color: var(--primary);
}

.footer-bottom {
    background-color: var(--dark);
}

.footer-top li {
    font-size: 14px;
    text-align: justify;
    text-decoration: none !important;
    text-transform: none;
    outline: none;
}


/*Media Queries  */

@media only screen and (max-width:995px) {
    .features_wrapper .ft-1 {
        width: 100%;
    }

    .features_wrapper .ft-2 {
        width: 100%;
    }

    .features_wrapper .ft-3 {
        width: 100%;
    }

    .features_wrapper .ft-4 {
        width: 100%;
    }

    .features_wrapper .ft-5 {
        width: 100%;
    }

    .features_wrapper .ft-6 {
        width: 100%;
    }
}


@media only screen and (max-width:768px) {
    .features_wrapper .ft-1 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features_wrapper .ft-2 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features_wrapper .ft-3 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features_wrapper .ft-4 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features_wrapper .ft-5 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features_wrapper .ft-6 {
        background: var(--bg-white);
        padding: 40px;
        border-radius: 15px;
        display: flex;
        width: 620px;
        height: auto;
        border-right: 5px solid var(--bg-dark-green);
        box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
        align-content: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }



    .content {
        display: contents;
    }
}